!!!

%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = metamagic site: "Детские праздники в Москве с аниматорами | агентство Сказка Шоу", title: [:title, :site], separator: " — ", keywords: [:keywords, "детские праздники москва", "аниматор на детский праздник", "организация детских праздников в москве"], description: "Организация детских праздников с полным погружением в атмосферу сказки. Агенство Сказка Шоу предлагает авторские шоу программы в Москве с участием аниматоров. У нас можно недорого заказать проведение детского праздника в детском саду, в бейби-клубе, торговом центре. Организация дня рождения ребенка, конкурсы для детей, фокусы, костюмы героев мультиков и многое другое. Наши профессиональные аниматоры подарят счастье вашим деткам!"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap', media: 'all', rel: 'stylesheet'
    = stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'front', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload'


  %body{class: "#{controller_name} #{action_name} main"}
    .wrapper
      = render partial: "front/navigation/header"
      = yield
      = render partial: "front/navigation/footer"
      = render partial: "front/navigation/footer_popups"
    %a.back-to-top{:href => "", :title => "Go to Top"} To Top ↑

    / =javascript_pack_tag "https://api-maps.yandex.ru/2.1/?apikey=1288218d-8da1-4ed1-8040-74839248ca89&lang=ru_RU"
    = javascript_include_tag 'https://api-maps.yandex.ru/2.1/?apikey=1288218d-8da1-4ed1-8040-74839248ca89&lang=ru_RU', media: 'all', 'data-turbolinks-track': 'reload'
    / %script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/2.1/?apikey=1288218d-8da1-4ed1-8040-74839248ca89&lang=ru_RU", :type => "text/javascript"}

