!!!

%html
  %head
    %title KidsLife
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Amatic+SC&display=swap', media: 'all', rel: 'stylesheet'
    = stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'front', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'styles', 'data-turbolinks-track': 'reload'

  %body.main
    .wrapper
      = render partial: "front/navigation/header"
      = yield
      = render partial: "front/navigation/footer"
      = render partial: "front/navigation/footer_popups"
    %a.back-to-top{:href => "", :title => "Go to Top"} To Top ↑